<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><%= render partial: 'layouts/header' %></header>

    <nav><%= render partial: 'layouts/navigation' %></nav>
    
    <article>
      <%= yield %>
    </article>

    <aside><%= render partial: 'layouts/navigation' %></aside>

    <footer><%= render partial: 'layouts/footer' %></footer>
  </body>
</html>
